In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('Mall_Customers.csv')

In [32]:
dataset.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [52]:
X = dataset.iloc[:,[3,4]]

In [34]:
X.head()

In [61]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=7, random_state=0).fit(X)

In [62]:
labels = kmeans.labels_

In [63]:
print(labels)

[0 4 0 4 0 4 0 4 0 4 0 4 0 4 0 4 0 4 0 4 0 4 0 4 0 4 0 4 0 4 0 4 0 4 0 4 0
 4 0 4 0 4 0 1 0 4 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 5 6 5 6 5 6 5 6 5 6 5 6 5 6 5 6 5 6 5 1 5 6 5 6 5
 6 5 6 5 6 5 6 5 6 5 6 5 6 5 6 5 6 5 6 5 6 5 6 5 6 5 6 5 6 5 6 2 3 2 3 2 3
 2 3 2 3 2 3 2 3 2 3 2 3 2 3 2]

In [66]:
print(kmeans.predict([[0, 0], [109, 22]]))

[0 3]

In [65]:
kmeans.cluster_centers_

array([[ 26.30434783,  20.91304348],
       [ 54.88607595,  49.89873418],
       [108.18181818,  82.72727273],
       [109.7       ,  22.        ],
       [ 25.72727273,  79.36363636],
       [ 78.03571429,  81.89285714],
       [ 79.        ,  16.59259259]])

In [67]:
from sklearn import metrics
print(metrics.silhouette_score(X, labels))

0.5270287298101395